# Python Handling Text Files Project Solution

In [ ]:
#Want to use pandas library for read the txt file as csv format
#importing Pandas library

import pandas as pd

In [2]:
#Data Eyeballing. 
#Reading the text file as line by line, so using readlines() function.

text_file = open("conv.txt", "r")
text_file.readlines()

['WILL: Iâ€™ve never seen wildlings do a thing like this. Iâ€™ve never seen a thing like this, not ever in my life.\n',
 '\n',
 'WAYMAR ROYCE: How close did you get?\n',
 '\n',
 'WILL: Close as any man would.\n',
 '\n',
 'GARED: We should head back to the wall.\n',
 '\n',
 'ROYCE: Do the dead frighten you?\n',
 '\n',
 'GARED: Our orders were to track the wildlings. We tracked them. They wonâ€™t trouble us no more.\n',
 '\n',
 'ROYCE: You donâ€™t think heâ€™ll ask us how they died? Get back on your horse.\n',
 '\n',
 'WILL: Whatever did it to them could do it to us. They even killed the children.\n',
 '\n',
 'ROYCE: Itâ€™s a good thing weâ€™re not children. You want to run away south, run away. Of course, they will behead you as a deserter â€¦ If I donâ€™t catch you first. Get back on your horse. I wonâ€™t say it again.\n',
 '\n',
 'ROYCE: Your dead men seem to have moved camp.\n',
 '\n',
 'WILL: They were here.\n',
 '\n',
 'GARED: See where they went.\n',
 '\n',
 'ROYCE: What is it?\n',
 '\n',
 'JON: Go on. Fatherâ€™s watching.\n',
 '\n',
 'JON: And your mother.\n',
 '\n',
 'SEPTA MORDANE: Fine work, as always. Well done.\n',
 '\n',
 'SANSA: Thank you.\n',
 '\n',
 'SEPTA MORDANE: I love the detail that youâ€™ve managed to get in this corners.\n',
 '\n',
 'NED: And which one of you was a marksman at ten? Keep practicing, Bran. Go on.\n',
 '\n',
 'JON: Donâ€™t think too much, Bran.\n',
 '\n',
 'ROBB: Relax your bow arm.\n',
 '\n',
 'CASSEL: Lord Stark. My lady. A guardsman just rode in from the hills. Theyâ€™ve captured a deserter from the Nightâ€™s Watch.\n',
 '\n',
 'NED: Get the lads to saddle their horses.\n',
 '\n',
 'CATELYN: Do you have to?\n',
 '\n',
 'NED: He swore an oath, Cat.\n',
 '\n',
 'CASSEL: The law is law, my lady.\n',
 '\n',
 'NED: Tell Bran heâ€™s coming, too.\n',
 '\n',
 'CATELYN: Ned. Ten is too young to see such things.\n',
 '\n',
 'NED: He wonâ€™t be a boy forever. And winter is coming.\n',
 '\n',
 'ROBB: Lad, go run back and get the rest.\n',
 '\n',
 'NED: King of the Andals and the First Men â€¦\n',
 '\n',
 'JON: Father will know if you do.\n',
 '\n',
 'NED: Lord of the Seven Kingdoms and protector of the realm, I, Eddard of the House Stark, Lord of Winterfell and Warden of the North, sentence you to die.\n',
 '\n',
 'JON: You did well.\n',
 '\n',
 'NED: You understand why I did it?\n',
 '\n',
 'BRAN: Jon said he was a deserter.\n',
 '\n',
 'NED: But do you understand why I had to kill him?\n',
 '\n',
 'BRAN: Our way is the old way?\n',
 '\n',
 'NED: The man who passes the sentence should swing the sword.\n',
 '\n',
 'BRAN: Is it true he saw the White Walkers?\n',
 '\n',
 'NED: The White Walkers have been gone for thousands of years.\n',
 '\n',
 'BRAN: So he was lying?\n',
 '\n',
 'NED: A madman sees what he sees.\n',
 '\n',
 'JON: What is it?\n',
 '\n',
 'THEON: Mountain lion?\n',
 '\n',
 'NED: There are no mountain lions in these woods.\n',
 '\n',
 'THEON: Itâ€™s a freak.\n',
 '\n',
 'NED: Itâ€™s a direwolf.\n',
 '\n',
 'NED: Tough old beast.\n',
 '\n',
 'ROBB: There are no direwolves south of the Wall.\n',
 '\n',
 'JON: Now there are five.\n',
 '\n',
 'JON: You want to hold it?\n',
 '\n',
 'BRAN: Where will they go? Their motherâ€™s dead.\n',
 '\n',
 'CASSEL: They donâ€™t belong down here.\n',
 '\n',
 'NED: Better a quick death. They wonâ€™t last without their mother.\n',
 '\n',
 'THEON: Right. Give it here.\n',
 '\n',
 'BRAN: NO!\n',
 '\n',
 'ROBB: Put away your blade.\n',
 '\n',
 'THEON: I take orders from your father, not you.\n',
 '\n',
 'BRAN: Please, father!\n',
 '\n',
 'NED: Iâ€™m sorry, Bran.\n',
 '\n',
 'JON: Lord Stark? There are five pups. One for each of the Stark children. The direwolf is the sigil of your House. They were meant to have them.\n',
 '\n',
 'NED: You will train them yourselves. You will feed them yourselves. And if they die, you will bury them yourselves.\n',
 '\n',
 'BRAN: What about you?\n',
 '\n',
 'JON: Iâ€™m not a Stark. Get on.\n',
 '\n',
 'ROBB: What is it?\n',
 '\n',
 'CERSEI: What if Jon Arryn told someone?\n',
 '\n',
 'JAIME: But who would he tell?\n',
 '\n',
 'CERSEI: My husband.\n',
 '\n',
 'JAIME: If he told the king, both our heads would be skewered on the city gates by now. Whatever Jon Arryn knew or didnâ€™t know, it died with him. And Robert will choose a new Hand of the king, someone to do his job while heâ€™s off fucking boars and hunting whores. Or is it the other way around? And life will go on.\n',
 '\n',
 'CERSEI: You should be the Hand of the king.\n',
 '\n',
 'JAIME: Thatâ€™s an honor I can do without. Their days are too long, their lives are too short.\n',
 '\n',
 'CATELYN: All these years and I still feel like an outsider when I come here.\n',
 '\n',
 'NED: You have five northern children. Youâ€™re not an outsider.\n',
 '\n',
 'CATELYN: I wonder if the old gods agree.\n',
 '\n',
 'NED: Itâ€™s your gods with all the rules.\n',
 '\n',
 'CATELYN: I am so sorry, my love.\n',
 '\n',
 'NED: Tell me.\n',
 '\n',
 'ROBB: I hear the prince is a right royal prick.\n',
 '\n',
 'THEON: Think of all those southern girls he gets to stab with his right royal prick.\n',
 '\n',
 'ROBB: Go on, Tommy, shave him good. Heâ€™s never met a girl he likes better than his own hair.\n',
 '\n',
 'CATELYN: Gods, but they grow fast.\n',
 '\n',
 'BRAN: I saw the king! Heâ€™s got hundreds of people!\n',
 '\n',
 'CATELYN: How many times have I told you No climbing!\n',
 '\n',
 'BRAN: But heâ€™s coming right now! Down our road!\n',
 '\n',
 'CATELYN: I want you to promise me. No more climbing.\n',
 '\n',
 'NED: Your Grace.\n',
 '\n',
 'ROBERT: Youâ€™ve got fat.\n',
 '\n',
 'ROBERT: Cat!\n',
 '\n',
 'CATELYN: Your Grace.\n',
 '\n',
 'ROBERT: Nine years. Why havenâ€™t I seen you? Where the hell have you been?\n',
 '\n',
 'NED: Guarding the North for you, Your Grace. Winterfell is yours.\n',
 '\n',
 'ARYA: Whereâ€™s the Imp?\n',
 '\n',
 'SANSA: Will you shut up?\n',
 '\n',
 'ROBERT: Who have we here? You must be Robb.\n',
 '\n',
 'ARYA: Arya.\n',
 '\n',
 'ROBERT: Ooh. Show us your muscles. Youâ€™ll be a soldier.\n',
 '\n',
 'ARYA: Thatâ€™s Jaime Lannister. The queenâ€™s twin brother.\n',
 '\n',
 'SANSA: Would you please shut up.\n',
 '\n',
 'NED: My queen.\n',
 '\n',
 'CATELYN: My queen.\n',
 '\n',
 'ROBERT: Take me to your crypt. I want to pay my respects.\n',
 '\n',
 'CERSEI: Weâ€™ve been riding for a month, my love. Surely the dead can wait.\n',
 '\n',
 'ROBERT: Ned.\n',
 '\n',
 'ARYA: Whereâ€™s the Imp?\n',
 '\n',
 'CERSEI: Where is our brother? Go find the little beast.\n',
 '\n',
 'NED: Tell me about Jon Arryn.\n',
 '\n',
 'ROBERT: One minute he was fine, and then â€¦ Burned right through him, whatever it was. I loved that man.\n',
 '\n',
 'NED: We both did.\n',
 '\n',
 'ROBERT: He never had to teach you much, but me â€¦ You remember me at 16? All I wanted to do was crack skulls and fuck girls. He showed me what was what.\n',
 '\n',
 'NED: Aye.\n',
 '\n']

In [3]:
#Reading the text file in CSV and seperating with columns named Speaker and Speech.
#Using "data" as variable name.
#pd.read_csv is the method to read files in Pandas.
#Used the (sep=":") method to seperate the data and stored it in different columns named Speaker and Speech.

data=pd.read_csv("conv.txt", sep=": ", names=["Speaker", "Speech"])
print(data)

          Speaker                                             Speech
0            WILL  I’ve never seen wildlings do a thing like this...
1    WAYMAR ROYCE                             How close did you get?
2            WILL                            Close as any man would.
3           GARED                   We should head back to the wall.
4           ROYCE                          Do the dead frighten you?
..            ...                                                ...
106           NED                           Tell me about Jon Arryn.
107        ROBERT  One minute he was fine, and then … Burned righ...
108           NED                                       We both did.
109        ROBERT  He never had to teach you much, but me … You r...
110           NED                                               Aye.

[111 rows x 2 columns]

C:\Users\BALA\AppData\Local\Temp\ipykernel_6176\2187632789.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data=pd.read_csv("conv.txt", sep=": ", names=["Speaker", "Speech"])

In [4]:
# Removing Special Characters from Speech Column.
#After data eyeballing, I found these characters are present inside the file and it's needs to be removed as per the guidelines.
#Used str.replace() method to replace every special characters and used regex method to save after every change.

data["Speech"] = data["Speech"].str.replace('?', '', regex=True)
data["Speech"] = data["Speech"].str.replace('’', '', regex=True)
data["Speech"] = data["Speech"].str.replace('.', '', regex=True)
data["Speech"] = data["Speech"].str.replace(',', '', regex=True)
data["Speech"] = data["Speech"].str.replace('!', '', regex=True)
data["Speech"] = data["Speech"].str.replace('…', '', regex=True)

print(data)

          Speaker                                             Speech
0            WILL  Ive never seen wildlings do a thing like this ...
1    WAYMAR ROYCE                              How close did you get
2            WILL                             Close as any man would
3           GARED                    We should head back to the wall
4           ROYCE                           Do the dead frighten you
..            ...                                                ...
106           NED                            Tell me about Jon Arryn
107        ROBERT  One minute he was fine and then  Burned right ...
108           NED                                        We both did
109        ROBERT  He never had to teach you much but me  You rem...
110           NED                                                Aye

[111 rows x 2 columns]

In [ ]:
#Tried Using "\W" to remove all special characters at one line of code but it's removing all spaces also.
#Please let me know what is correct keyword for removing special characters without spaces.

In [5]:
#Just eyeballing the data once again by using head() function of Pandas

data.head()

        Speaker                                             Speech
0          WILL  Ive never seen wildlings do a thing like this ...
1  WAYMAR ROYCE                              How close did you get
2          WILL                             Close as any man would
3         GARED                    We should head back to the wall
4         ROYCE                           Do the dead frighten you

In [6]:
#Getting Unique values from Speaker column for creating seperate txt files.
#Using .unique() method of pandas to get uniuqe values in a Speaker Column

print(data["Speaker"].unique())

['WILL' 'WAYMAR ROYCE' 'GARED' 'ROYCE' 'JON' 'SEPTA MORDANE' 'SANSA' 'NED'
 'ROBB' 'CASSEL' 'CATELYN' 'BRAN' 'THEON' 'CERSEI' 'JAIME' 'ROBERT' 'ARYA']

In [ ]:
#Setting the Speaker column as a index for dataset for better accessing of data.
#Using the set_index() method of pandas to set the index

data.set_index('Speaker', drop= True, inplace=True)

In [10]:
#Just data eyeballing after setting the index of first 5 rows.

data.head(5)

                                                         Speech
Speaker
WILL          Ive never seen wildlings do a thing like this ...
WAYMAR ROYCE                              How close did you get
WILL                                     Close as any man would
GARED                           We should head back to the wall
ROYCE                                  Do the dead frighten you

In [ ]:
#Setting the Speaker column as a index is helpfull in accessing data with the speaker value by using loc[] method of pandas

In [64]:
#By using .loc["Speaker value"] will give the seperate datas of that speaker value.

data.loc["ARYA"]

                                                Speech
Speaker
ARYA                                    Wheres the Imp
ARYA                                              Arya
ARYA     Thats Jaime Lannister The queens twin brother
ARYA                                    Wheres the Imp

In [1]:
#After selecting "ARYA" data sepeartely,
#just changing all the words into lowercase by the method str.lower(). 
#Then spliting all the words by str.split() method.
#Putting all that in a "set" for removing the repeated value
#Sorting all that values for arranging in a alphabetical order.
lists = sorted(set(data.loc['ARYA']['Speech'].str.lower().str.split().sum()))


#Creating a empty list and appending all the values if it is not repeated in the list itself.
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
             i = i.replace(j,"")  
    f_list.append(i)

#Then Writing the list values in the txt file with the respective speaker name.
#Using f, \n, method to print all the words in a new line.
with open('ARYA.txt', 'w', encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

#Repeated this code for all the all the speaker value in the file.

In [63]:
data.loc["WILL"]

                                                    Speech
Speaker
WILL     Ive never seen wildlings do a thing like this ...
WILL                                Close as any man would
WILL     Whatever did it to them could do it to us They...
WILL                                        They were here

In [75]:
lists = sorted(set(data.loc['WILL']['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")  
    f_list.append(i)

with open('WILL.txt', 'w', encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [77]:
data.loc["GARED"]

                                                    Speech
Speaker
GARED                      We should head back to the wall
GARED    Our orders were to track the wildlings We trac...
GARED                                  See where they went

In [78]:
lists = sorted(set(data.loc['GARED']['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")  
    f_list.append(i)

with open('GARED.txt', 'w', encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [79]:
data.loc["WAYMAR ROYCE"]

Speech    How close did you get
Name: WAYMAR ROYCE, dtype: object

In [80]:
lists = sorted(set(data.loc[['WAYMAR ROYCE']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)

with open('WAYMAR ROYCE.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [81]:
data.loc["ROYCE"]

                                                    Speech
Speaker
ROYCE                             Do the dead frighten you
ROYCE    You dont think hell ask us how they died Get b...
ROYCE    Its a good thing were not children You want to...
ROYCE                Your dead men seem to have moved camp
ROYCE                                           What is it

In [82]:
lists = sorted(set(data.loc[['ROYCE']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)

with open('ROYCE.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [83]:
data.loc["JON"]

                                                    Speech
Speaker
JON                                 Go on Fathers watching
JON                                        And your mother
JON                               Dont think too much Bran
JON                             Father will know if you do
JON                                           You did well
JON                                             What is it
JON                                     Now there are five
JON                                    You want to hold it
JON      Lord Stark There are five pups One for each of...
JON                                  Im not a Stark Get on

In [84]:
lists = sorted(set(data.loc[['JON']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)
    
with open('JON.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [85]:
data.loc["SEPTA MORDANE"]

                                                          Speech
Speaker
SEPTA MORDANE                      Fine work as always Well done
SEPTA MORDANE  I love the detail that youve managed to get in...

In [86]:
lists = sorted(set(data.loc[['SEPTA MORDANE']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)
    
with open('SEPTA MORDANE.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [87]:
data.loc["SANSA"]

                           Speech
Speaker
SANSA                   Thank you
SANSA            Will you shut up
SANSA    Would you please shut up

In [88]:
lists = sorted(set(data.loc[['SANSA']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)
    
with open('SANSA.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [89]:
data.loc["NED"]

                                                    Speech
Speaker
NED      And which one of you was a marksman at ten Kee...
NED                    Get the lads to saddle their horses
NED                                   He swore an oath Cat
NED                               Tell Bran hes coming too
NED          He wont be a boy forever And winter is coming
NED                  King of the Andals and the First Men
NED      Lord of the Seven Kingdoms and protector of th...
NED                            You understand why I did it
NED            But do you understand why I had to kill him
NED      The man who passes the sentence should swing t...
NED      The White Walkers have been gone for thousands...
NED                             A madman sees what he sees
NED             There are no mountain lions in these woods
NED                                         Its a direwolf
NED                                        Tough old beast
NED      Better a quick death They wont last without th...
NED                                          Im sorry Bran
NED      You will train them yourselves You will feed t...
NED      You have five northern children Youre not an o...
NED                       Its your gods with all the rules
NED                                                Tell me
NED                                             Your Grace
NED      Guarding the North for you Your Grace Winterfe...
NED                                               My queen
NED                                Tell me about Jon Arryn
NED                                            We both did
NED                                                    Aye

In [90]:
lists = sorted(set(data.loc[['NED']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)
    
with open('NED.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [92]:
data.loc["ROBB"]

                                                    Speech
Speaker
ROBB                                    Relax your bow arm
ROBB                      Lad go run back and get the rest
ROBB             There are no direwolves south of the Wall
ROBB                                   Put away your blade
ROBB                                            What is it
ROBB              I hear the prince is a right royal prick
ROBB     Go on Tommy shave him good Hes never met a gir...

In [93]:
lists = sorted(set(data.loc[['ROBB']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)
    
with open('ROBB.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [94]:
data.loc["CASSEL"]

                                                    Speech
Speaker
CASSEL   Lord Stark My lady A guardsman just rode in fr...
CASSEL                              The law is law my lady
CASSEL                          They dont belong down here

In [95]:
lists = sorted(set(data.loc[['CASSEL']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)
    
with open('CASSEL.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [96]:
data.loc["CATELYN"]

                                                    Speech
Speaker
CATELYN                                     Do you have to
CATELYN            Ned Ten is too young to see such things
CATELYN  All these years and I still feel like an outsi...
CATELYN                     I wonder if the old gods agree
CATELYN                              I am so sorry my love
CATELYN                            Gods but they grow fast
CATELYN         How many times have I told you No climbing
CATELYN          I want you to promise me No more climbing
CATELYN                                         Your Grace
CATELYN                                           My queen

In [97]:
lists = sorted(set(data.loc[['CATELYN']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)
    
with open('CATELYN.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [98]:
data.loc["BRAN"]

                                            Speech
Speaker
BRAN                    Jon said he was a deserter
BRAN                        Our way is the old way
BRAN           Is it true he saw the White Walkers
BRAN                               So he was lying
BRAN         Where will they go Their mothers dead
BRAN                                            NO
BRAN                                 Please father
BRAN                                What about you
BRAN     I saw the king Hes got hundreds of people
BRAN        But hes coming right now Down our road

In [99]:
lists = sorted(set(data.loc[['BRAN']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)
    
with open('BRAN.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [101]:
data.loc["THEON"]

                                                    Speech
Speaker
THEON                                        Mountain lion
THEON                                          Its a freak
THEON                                   Right Give it here
THEON               I take orders from your father not you
THEON    Think of all those southern girls he gets to s...

In [102]:
lists = sorted(set(data.loc[['THEON']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)
    
with open('THEON.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [103]:
data.loc["CERSEI"]

                                                    Speech
Speaker
CERSEI                      What if Jon Arryn told someone
CERSEI                                          My husband
CERSEI                  You should be the Hand of the king
CERSEI   Weve been riding for a month my love Surely th...
CERSEI       Where is our brother Go find the little beast

In [104]:
lists = sorted(set(data.loc[['CERSEI']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)
    
with open('CERSEI.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [105]:
data.loc["JAIME"]

                                                    Speech
Speaker
JAIME                                But who would he tell
JAIME    If he told the king both our heads would be sk...
JAIME    Thats an honor I can do without Their days are...

In [106]:
lists = sorted(set(data.loc[['JAIME']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)
    
with open('JAIME.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

In [107]:
data.loc["ROBERT"]

                                                    Speech
Speaker
ROBERT                                       Youve got fat
ROBERT                                                 Cat
ROBERT   Nine years Why havent I seen you Where the hel...
ROBERT                   Who have we here You must be Robb
ROBERT         Ooh Show us your muscles Youll be a soldier
ROBERT     Take me to your crypt I want to pay my respects
ROBERT                                                 Ned
ROBERT   One minute he was fine and then  Burned right ...
ROBERT   He never had to teach you much but me  You rem...

In [108]:
lists = sorted(set(data.loc[['ROBERT']]['Speech'].str.lower().str.split().sum()))
f_list = []

for i in lists:
    for p in i:
        if p in f_list:
            i = i.replace(j,"")   
    f_list.append(i)
    
with open('ROBERT.txt','w',encoding="utf_8",) as q:
    for line in f_list:
        q.write(f"{line}\n")

# Another Method

In [2]:
# We can do Split and lower function seperately.

In [ ]:
#  change all the strings to lower case in the Speech column. 

#   -->  data["Speech"] = data["Speech"].str.lower()

In [3]:
# Split all the strings in Speech Column.

# --> data["Speech"] = data["Speech"].str.split()

In [ ]:
# After doing these changes the data in Speech column is splited and in lower case only.

In [4]:
# By using another variable we can store the values in Speech as set by using set() function.
# For each speaker we need to assign each value.

# --> set(data.loc['ARYA']['Speech']

In [ ]:
# Now we can perform the for loop method to print all the unique words in the txt files seperately.

# Using sort() function will place the words alphabetically.